body{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.4)), url(../images/background1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.title-div{
    float: right;
    width: 20%;
    color: rgb(178, 31, 31);
    font-size: 30px;
    text-align: center;
    margin: 0% 0% 0% 0%;
    font-family: "Anton SC", serif;
    font-weight: 400;
}

.title-div h1{
    border: 2px solid black;
}

.avengers-div{
    float: left;
    width: 100%;
    margin: 4% 0% 0% 0%;
}

.hero-div{
    float: left;
    width: 22%;
    border: 5px solid aliceblue;
    color: aliceblue;
    text-align: center;
    margin: 0% 0% 0% 2%;
    padding: 8% 0% 8% 0%;
    font-size: 25px;
}

.hero-div a{
    text-decoration: none;
    color: aliceblue;
}

.bottom-div{
    float: left;
    width: 100%;
    text-align: center;
    color: aliceblue;
    text-transform: capitalize;
    font-size: 20px;
    margin: 1.5% 0% 0% 0%;
}


.child-div{
    float: left;
    width: 100%;
    margin: 10% 0% 0% 0%;
}

.child-div img{
    float: left;
    width: 23%;
    height: 500px;
    margin: 0% 0% 4% 1.0%;
    border: 5px solid black;
}