<!DOCTYPE html>
<html>
<head>
    <title>Marvel</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Bebas+Neue&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
</head>
<body>
    <div class="title-div">
        <h1>Marvel</h1>
    </div>

    <div style="clear: both;">
    </div>

    <div class="avengers-div">
        <div class="hero-div">
            <a href="../templates/steeve.html"><h1>Steeve</h1></a>
        </div>
        <div class="hero-div">
            <a href="../templates/tony.html"><h1>Tony</h1></a>
        </div>
        <div class="hero-div">
            <a href="../templates/thor.html"><h1>Thor</h1></a>
        </div>
        <div class="hero-div">
            <a href="../templates/hulk.html"><h1>Hulk</h1></a>
        </div>
    </div>

    <div class="bottom-div">
        <p>Click On The name to view image</p>
    </div>
    <script src="../static/js/style.js"></script>
</body>
</html>